<mat-card class="winner-card">
    <mat-card-header class="header-card">
        <mat-card-title>
            <p class="wins-item">
                <span class="wins-message red-wins">Wins: {{ redPlayerWins }}</span>
                <span class="wins-message blue-wins">Wins: {{ bluePlayerWins }}</span>
            </p>
            <p class="score-message">{{ redPlayerValue }} vs. {{ bluePlayerValue }}</p>
            <p class="winner-message">{{ message }}</p>
        </mat-card-title>
    </mat-card-header>
</mat-card>